*{
    margin: 0;
}

body{
background-color: #fff;
}
.nav-bar{
 
height: 40px;
border: 3.5px solid white;
background-color: rgb(9, 154, 250);
display: flex;
border-radius: 10px;
position: sticky;
padding: 0.5rem;
gap: 40px;
justify-content: center;
align-items: center;
color: #fff;
box-shadow: 0 0 20px rgb(203, 201, 201);


}
.name{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
     Verdana, sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


ul a, li {
    text-decoration: none;
    color: #fff;
    font-size: large;
}

ul li{
    text-decoration: none;
    color: rgb(9, 154, 250);
    font-size: large;
}




.content{
display: flex;
gap: 10px;
justify-content: center;
margin-top:2px;
margin-left: 300px;
font-weight: bold;
text-decoration: none;
}

.name{
 margin: 10px;
align-items: center;
font-weight: bold;
 margin-top: 10px;
 margin-left: 2px;
}


/*ABOUT SECTION*/
.about-img img{
    width: 350px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 0 20px #848484;
    
}

.about-img img:hover{
    margin-left: 50px;
    margin-top: 60px;
    transition: 0.7s ease-out;
}

.about{
    padding: 30px;
    height: 550px;
    margin-top: 20px;
}

.main{
    display: flex;
    padding: 30px;
    
}
.main-about{
 color: rgb(9, 154, 250);
 padding:45px;
 
}

.main-about h1{
    text-align: center;
    color: rgb(0, 0, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem ;
}

.main-about p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem ;
    text-align: center;
}




.skills h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem ;
    color: rgb(0, 0, 70);
}

.skills ul{
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem ;
    margin-left: 30px;
}


.skills span{
    color: rgb(0, 0, 70);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
}


/*KEY PROJECTS*/

.Key_projects{
  color: rgb(9, 154, 250);
  text-align: center;
  width: 520px;
  height: 450px;
  justify-content: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 15px rgb(208, 208, 210);
  margin-left: 23rem;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  margin-top: 6rem;
  margin-bottom: 7rem;
}

.Key_projects:hover{
    width: 540px;
    transition: 0.5s ease;
}


.Key_projects h2{
    font-size: 1.7rem;
    color: rgb(0, 0, 70);
    margin: 1rem;
    margin-bottom: 5px;
}

.Key_projects h3{
    font-size: 1.4rem;
    color: rgb(0, 0, 70);
}



/*contact Section*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contact_container{
   
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    padding: 32px;
    color: rgb(9, 154, 250);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_container h2{
    text-align: center;
    margin-bottom: 25px;
    color: rgb(9, 154, 250);
    font-size: 32px;

}

.form_group{
    margin-bottom: 22px;
}

input, textarea{
    width: 100%;
    padding: 10px 16px;
    border: 1px solid rgb(9, 154, 250);
    border-radius: 8px;
    background-color: transparent;
}

textarea{
    max-height: 120px;
}

input:focus, textarea:focus{
    border: #2bc226;
    box-shadow: 0 0 12px rgb(9, 154, 250);
    outline: none;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
}

button{
   display: block;
   margin: auto;
   background-color: rgb(9, 154, 250);
   color: #fff;
   border: none;
   padding: 11px 70px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s ease;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
}

button:hover{
   padding: 16px 80px;
   transition: 0.3s ease-out ;
}